<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="logs/sso-service.log"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE" value="100MB" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="com.sysnormal.services.security.sso" level="DEBUG"/>
    <logger name="com.sysnormal.libs.utils" level="DEBUG"/>
    <logger name="com.sysnormal.libs.utils.database" level="DEBUG"/>
    <logger name="com.sysnormal.libs.utils.database.DatabaseUtils" level="DEBUG"/>

    <logger name="com.sysnormal.libs.db.entities.base_entities" level="DEBUG"/>
    <logger name="com.sysnormal.libs.db.repositories.base_repositories" level="DEBUG"/>
    <logger name="com.sysnormal.security.auth.sso.starter.sysnormal_spring_boot_starter_sso_client_protector" level="DEBUG"/>
    <logger name="com.sysnormal.security.auth.sso.starter.sysnormal_spring_boot_starter_sso" level="DEBUG"/>
    <logger name="com.sysnormal.starters.security.sso.spring.client_protector" level="DEBUG"/>

    <!--LOGS OF SECURITY FILTERS-->
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.springframework.security.web.FilterChainProxy" level="DEBUG"/>

    <!-- Mostra todos os endpoints REST mapeados -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="TRACE"/>

    <logger name="com.sysnormal.starters.security.sso.spring.client_protector" level="DEBUG"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.transaction" level="TRACE"/>
    <logger name="org.springframework.boot.web.embedded.tomcat" level="INFO"/>
    <logger name="org.springframework.boot.web" level="INFO"/>

    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="TRACE"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
    <logger name="org.flywaydb" level="TRACE"/>

    <!-- Tomcat logs -->
    <logger name="org.springframework.web" level="DEBUG"/>
    <logger name="org.springframework.boot.web" level="DEBUG"/>
    <logger name="org.apache.catalina.startup" level="DEBUG"/>
    <logger name="org.apache.catalina.util" level="DEBUG"/>

    <!-- Mostra a inicialização do Tomcat (porta, protocolo, etc) -->

    <logger name="org.springframework.boot.tomcat.TomcatWebServer" level="DEBUG"/>
    <logger name="org.springframework.boot.web.embedded.tomcat.TomcatWebServer" level="DEBUG"/>

    <!-- Mostra os ProtocolHandlers (porta e protocolo real usado) -->
    <logger name="org.apache.coyote.AbstractProtocol" level="DEBUG"/>

    <!-- Mostra detalhes de inicialização dos conectores -->
    <logger name="org.apache.catalina.core.StandardService" level="DEBUG"/>
    <logger name="org.apache.catalina.core.StandardEngine" level="DEBUG"/>

    <!-- Bean creation / dependency injection -->
    <!--<logger name="org.springframework.beans" level="TRACE"/>
    <logger name="org.springframework.beans.factory" level="TRACE"/>
    <logger name="org.springframework.beans.factory.support" level="TRACE"/>-->

    <!-- Mostra avaliação das AutoConfigurations -->
    <!--<logger name="org.springframework.boot.autoconfigure" level="TRACE"/>
    <logger name="org.springframework.boot.autoconfigure.condition" level="TRACE"/>-->

    <!-- Mostra scanning de componentes -->
    <!--<logger name="org.springframework.context.annotation" level="TRACE"/>
    <logger name="org.springframework.context.annotation.ClassPathScanningCandidateComponentProvider" level="TRACE"/>-->

    <!-- Mostra criação do ApplicationContext -->
    <!--<logger name="org.springframework.context" level="DEBUG"/>-->

    <!-- Mostra carregamento de spring.factories / autoconfig -->
    <!--<logger name="org.springframework.core.io.support.SpringFactoriesLoader" level="TRACE"/>-->

    <!-- Caso JwtService tenha problema de proxy ou AOP -->
    <!--<logger name="org.springframework.aop" level="TRACE"/>-->
</configuration>