<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="logs/sso-service.log"/>
    <property name="LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE" value="100MB" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="com.sysnormal.services.security.sso" level="DEBUG"/>
    <logger name="com.sysnormal.starters.security.sso.spring.sso_starter" level="DEBUG"/>

    <!-- Mostra todos os endpoints REST mapeados -->
    <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="TRACE"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.transaction" level="TRACE"/>
    <logger name="org.springframework.boot.web.embedded.tomcat" level="INFO"/>
    <logger name="org.springframework.boot.web" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.SQL" level="TRACE"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
    <logger name="org.apache.catalina.core" level="INFO"/>
</configuration>